@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Rubik+Bubbles&family=Saira+Condensed:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 80rem;
  margin: 0 auto;
  background-color: rgb(241 245 249);
  font-family: "Noto Sans";
  color: rgb(15 23 42);
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1s;
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s ease;
}

.animate-in {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.first-container {
  margin-top: 2rem;
}

.other-container {
  justify-content: start;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 2rem; /* Adjust the gap between items */
}

.single-product {
  border: 1px solid #ddd; /* Border for visual separation */
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
}

#content {
  border: 1px solid #ddd; /* Border for visual separation */
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  width: 50%;
}

.other-container h2 {
  font-size: 2rem;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading h1 {
  font-size: 2.5rem;
}

.hero-heading p {
  font-size: 1.5rem;
}

.navbar-brand {
  font-family: "Rubik Bubbles";
  font-size: 2rem;
}

.navbar {
  width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar-bg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  font-family: "Saira Condensed", sans-serif;
}

.navbar a {
  text-decoration: none;
  padding: 1rem 0 0 0;
  color: rgb(15 23 42);
}

.navbar li {
  padding-bottom: 0.5rem;
  position: relative;
}

.navbar li::after {
  content: "";
  position: absolute;
  background-color: #7743db;
  bottom: 0;
  left: 0;
  height: 4px; /* Adjust the thickness of the underline */
  border-radius: 4px;
  width: 0;
  transition: width 0.5s ease; /* Changed transition property for smoother animation */
}

.navbar li:hover::after {
  width: 100%;
}

/* .navbar a {
  text-decoration: none;
  padding: 1rem 0 0 0;
}

.navbar ul > li::after {
  content: "";
  position: absolute;
  background-color: #7743db;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 10px;
  transition: 0.3s linear;
}

.navbar ul > li:hover::after {
  width: 100%;
} */

.navbar-nav {
  display: flex;
  gap: 3rem;
}

.swiper {
  /* width: 100vw; */
  height: 60vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  background: none;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}
