<nav class="navbar-fixed-top">
  <div class="navbar-large">
    <a class="brand-logo" href="/">Click Fit</a>
    <div class="navbar-links" id="navbar">
      <ul class="navbar-list">
        <li class="nav-item">
          <a href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a href="/about">About</a>
        </li>
        <li class="nav-item">
          <a href="/contact">Contact</a>
        </li>

        <% if(user){ %>
        <li class="nav-item">
          <a href="/dashboard"> <%= user.name.slice(0, 8) %></a>
        </li>
        <li class="nav-item">
          <a href="/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a href="/register">Register</a>
        </li>
        <% } %>
      </ul>
    </div>
    <button class="navbar-toggler-small" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hamburger-button"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
        />
      </svg>
    </button>
  </div>
</nav>

<aside class="nav-sidebar" id="sidebar">
  <section class="sidebar-heading">
    <a class="brand-logo" href="/">Click Fit</a>
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="x-icon-sidebar"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </span>
  </section>
  <nav class="mobile-navbar">
    <ul class="mobile-nav-items">
      <li class="mobile-nav-item">
        <a href="/">Home</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/products">Products</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/about">About</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/contact">Contact</a>
      </li>
      <% if(user){ %>
      <li class="mobile-nav-item">
        <a href="/dashboard"> <%= user.name.slice(0, 8) %></a>
      </li>
      <li class="mobile-nav-item">
        <a href="/logout">Logout</a>
      </li>
      <% } else { %>
      <li class="mobile-nav-item">
        <a href="/login">Login</a>
      </li>
      <li class="mobile-nav-item">
        <a href="/register">Register</a>
      </li>
      <% } %>
    </ul>
  </nav>
</aside>
