<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head.ejs") %>
    <title>About | Click Fit</title>
  </head>

  <body>
    <header><%- include("../components/header.ejs") %></header>
    <main class="main-container">
      <section class="other-pages-containers"><h1>About Click Fit</h1></section>
    </main>
  </body>
</html>
