<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head.ejs") %>
    <title>Register | Click Fit</title>
  </head>
  <body>
    <header><%- include("../components/header.ejs") %></header>
    <main class="main-container"><h1>Register Today</h1></main>
  </body>
</html>
